@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('images/bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav_bar {
  padding: 10px;
}

.creatures {
  font-weight: bold;
}

.back {
  margin-bottom: 10px;
  padding: 3px;
}